<script>
import { RouterLink, RouterView } from 'vue-router'
import { useAuth0 } from '@auth0/auth0-vue';

export default {
  setup() {
    const { logout, loginWithRedirect, user, isAuthenticated } = useAuth0();

    return {
      logoutApp: () => {
        logout({ logoutParams: { returnTo: window.location.origin + "/about" } });
      },
      login: () => {
        loginWithRedirect();
      },
      user,
      isAuthenticated
    };
  }
};

</script>

<template>
  <!-- <header>

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/about">About</RouterLink>
      </nav>
    </div> 
  </header> -->

  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <RouterLink class="d-inline-flex link-body-emphasis text-decoration-none" to="/">
          <!-- <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
          </svg> -->
          <img src="@/assets/icon.png" alt="Фото" class="bi" width="87,6" height="50">
        </RouterLink>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <RouterLink class="nav-link px-2" to="/">Home</RouterLink>
        </li>
      </ul>

      <div class="col-md-3 text-end">

        <div v-if="isAuthenticated"> {{ user.name }}</div>
        <button v-if="isAuthenticated" @click="logoutApp" type="button" class="btn btn-outline-primary me-2">Log out</button>
        <button v-else @click="login" type="button" class="btn btn-outline-primary me-2">Log in</button>
      </div>
    </header>
  </div>
  <RouterView />
</template>

<style scoped></style>
