<script setup>
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <router-link to="/newbranch" custom v-slot="{ navigate }">
          <button @click="navigate" role="link" type="button" class="btn btn-outline-success option_button">Додати фолію</button>
        </router-link>
      </div>
      <div class="col d-flex justify-content-center">
        <router-link to="/newcontract" custom v-slot="{ navigate }">
        <button @click="navigate" role="link" type="button" class="btn btn-outline-success option_button">Укласти договір</button>
      </router-link>
      </div>
      <div class="col d-flex justify-content-center">
        <router-link to="/newagent" custom v-slot="{ navigate }">
        <button @click="navigate" role="link" type="button" class="btn btn-outline-success option_button">Додати агента</button>
      </router-link>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success option_button">Список фолій.xlsx</button>
      </div>
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success option_button">Список договорів.xlsx</button>
      </div>
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-outline-success option_button">Список агентів.xlsx</button>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <router-link to="/wage" custom v-slot="{ navigate }">
      <button @click="navigate" type="button" class="btn btn-outline-success option_button">Розрахувати заробітну плату</button>
    </router-link>
    </div>
  </div>
</template>

<style scoped>
.option_button {
  width: 60%;
}
</style>