<script setup>
import { reactive, computed } from 'vue'

const agent = reactive({
    name: 'John Doe',
    adress: '',
    numbers: '+38(099)445-52-20',
    branch: '',

})

function validate() {
    return agent.name.length > 0 && agent.adress.length > 0 && agent.numbers.length > 0 && agent.branch.length > 0;
}

function send() {
    if (!validate()) return;

    console.log('loh')
}
</script>
<template>
    <form class="container" novalidate>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom01" class="form-label">ПІБ страхового агента</label>
                <input v-model="agent.name" type="text" class="form-control" id="validationCustom01" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom02" class="form-label">Адреса агента</label>
                <input v-model="agent.adress" type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Номер телефону агента</label>
                <input v-model="agent.numbers" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Філія агента</label>
                <input v-model="agent.branch" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
    </form>
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col"></div>
        <div class="col-6 d-flex justify-content-center">
            <button @click="send" class="btn btn-primary">Додати нового страхового агента</button>
        </div>
        <div class="col"></div>
    </div>
</template>