<script setup>
import { reactive, computed } from 'vue'

const branch = reactive({
    name: 'John Doe',
    adress: '',
    numbers: '+38(099)445-52-20',

})

function validate() {
    return branch.name.length > 0 && branch.adress.length > 0 && branch.numbers.length;
}

function send() {
    if (!validate()) return;

    console.log('loh')
}
</script>
<template>
    <form class="container" novalidate>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom01" class="form-label">Назва фолії</label>
                <input v-model="branch.name" type="text" class="form-control" id="validationCustom01" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom02" class="form-label">Адреса фолії</label>
                <input v-model="branch.adress" type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Номер телефону фолії</label>
                <input v-model="branch.numbers" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
    </form>
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col"></div>
        <div class="col-6 d-flex justify-content-center">
            <button @click="send" class="btn btn-primary">Додати нову фолію</button>
        </div>
        <div class="col"></div>
    </div>
</template>