<script setup>
import { reactive, computed } from 'vue'

const contract = reactive({
    type: 'medical insurance',
    sum: '500',
    procent: '5%',
    branch: '',
    agent: '',
    client: '',

})

function validate() {
    return contract.name.length > 0 && contract.adress.length > 0 && contract.numbers.length > 0 && contract.branch.length > 0;
}

function send() {
    if (!validate()) return;

    console.log('loh')
}
</script>
<template>
    <form class="container" novalidate>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom01" class="form-label">Вид страхування</label>
                <input v-model="contract.type" type="text" class="form-control" id="validationCustom01" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom02" class="form-label">Сума страхування</label>
                <input v-model="contract.sum" type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Тарифна ставка страхування</label>
                <input v-model="contract.procent" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Філіал</label>
                <input v-model="contract.branch" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Агент</label>
                <input v-model="contract.agent" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <label for="validationCustom03" class="form-label">Клієнт</label>
                <input v-model="contract.client" type="text" class="form-control" id="validationCustom03" required>
            </div>
            <div class="col"></div>
        </div>
    </form>
    <div class="row mt-3 d-flex justify-content-center">
        <div class="col"></div>
        <div class="col-6 d-flex justify-content-center">
            <button @click="send" class="btn btn-primary">Додати новий договір</button>
        </div>
        <div class="col"></div>
    </div>
</template>